.overflow {
  width: auto;
}

.container {
  overflow: scroll;
  margin: 0 auto;
  display: block;
}

.market-selector-container {
  justify-content: center;
  margin: auto;
  width: 250px;
}

.dashboard-page {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container {
  margin-top: 10px;
  color: red;
  height: 50px;
}

.btn.btn-primary:disabled{
  background-color: $dark-blue;
  &:hover {
    background-color: $dark-blue;
  }
}

.button-toolbar {
  justify-content: center;
  align-items: center;
}
