.header {
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 300px;
  background: url("/images/knot.jpg") no-repeat center;
  background-position: center top;
  h1 {
    font-size: 5rem;
  }
}

.title {
  margin-top: 150px;
}
