.order-book-title {
  color: $off-black;
  text-align: center;
  font-size: 3rem;
}

.highlight {
  background: $blue;
}

.table {
  color: $off-black;
  font-size: .4rem;
}

.order-book-table {
  float: left;
  border: solid $grey .1px;
  width: 450px;
}

.order-book-container {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
