.order-book-title {
  color: $off-black;
  text-align: center;
  font-size: 3rem;
}

.highlight {
  background: $blue;
}

.table {
  color: $off-black;
  font-size: 1rem;
}

.order-book-table {
  float: left;
  border: solid grey 2px;
  width: 400px;
}
